<form method="POST" action="/create">
  Name:
  <input type="String" name="name"><br>
  Athlete:
  <input type="String" name="athlete"><br>
  Points:
  <input type="Number" name="points"><br>
  Rebounds:
  <input type="Number" name="rebounds"><br>
  Assists:
  <input type="Number" name="assists"><br>
  <input type="submit">
</form></br>
