<h2>Delete a player from your list</h2>
<form method="POST" action="/delete">
  Enter the player's full name:
  <input type="String" name="name">
  <input type="submit">
</form></br>
<a href='/view-players'>View your player list</a>
