
<head>
  <title>Title</title>
  <a href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'></a>
  <a href='http://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'></a>
  <a href='/stylesheets/bootstrap-social.css'</a>
  <a href='/stylesheets/style.css'></a>
</head>
<body>
  {{{body}}}
</body>
</html>
