<form method="POST" action="/playerstats">
  Name:
  <input type="String" name="name"><br>  
  Player:
  <input type="String" name="player"><br>
  Points:
  <input type="Number" name="points"><br>
  Rebounds:
  <input type="Number" name="rebounds"><br>
  Assists:
  <input type="Number" name="assists"><br>
  <input type="submit">
</form></br>
